In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.insert(0,'..')

In [3]:
from src.connectors import mongo,queries

In [4]:
from datetime import datetime

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
import plotly.plotly as py
import plotly.offline as pyo
import plotly.graph_objs as go

In [7]:
def init():
    global df_e,df_e_gg,df_cl,df_u,df_e_cl,df_cl_e
    print('Initializing data')
#     start = time()
    #df_e = queries.df_emotion([8513,7238,8453,8183,8486])
    #df_e = queries.df_emotion()
    #df_e.to_csv('src/data/emotion_05042019.csv',index=False)
    df_e = pd.read_csv('../src/data/emotion_10042019.csv')
    df_e_gg = pd.read_csv('../src/data/emotion_gg_12042019.csv')
    df_cl = queries.df_classinfo()
    df_u = queries.df_user()


    # Emotion through time with added class info
    df_e_cl = df_e.merge(df_cl,left_on='id_class',right_on='roomid')
    assert df_e_cl.shape[0]==df_e.shape[0] , "Shape of Dataframe changed"
    
    df_cl_e = df_e.groupby('id_class').emotion_score.mean().to_frame().reset_index().merge(df_cl,left_on='id_class',right_on='roomid',how='right')

In [8]:
init()

Initializing data

Charts : 
1. User emotion of each classes
2. User emotion over time
3. 


Info : 
1. User basic infos : last access, profile
2. User total bookings
3. Homework scoring
4. Placementest score
5. Current level
6. Remaining classes

In [9]:
df_u.head()

,username,kid_name,id,firstname,lastname,kid_sex,lastaccess,kid_birthday,pictures,fullname
0,guest,None,1,Guest user,,None,1970-01-01 08:00:00,None,None,Guest user
1,admin,admin,2,Kidtopi,Kidtopi,None,2019-04-23 15:05:43,09-06-2010,None,Kidtopi
2,alecisgood,None,209,Alec,Alec,None,2019-01-15 18:06:43,None,None,Alec
3,dyontran,None,210,Dyon Tran,Tran,None,1970-01-01 08:00:00,None,https://topkid.s3.ap-southeast-1.amazonaws.com...,Dyon Tran
4,nghia,None,211,Nghia,Nghia,None,1970-01-01 08:00:00,None,None,Nghia

In [93]:
f"{df_u[df_u.id==1]['username']}"

'0    guest\nName: username, dtype: object'

In [101]:
df_u[df_u.id==1].username.view

<bound method Series.view of 0    guest
Name: username, dtype: object>

In [42]:
df_cl_e.starttime.dt.date.max()

datetime.date(2019, 3, 23)

In [44]:
df = df_cl_e[df_cl_e.roomid ==8291]
df

,id_class,emotion_score,day_learned,is_completed,studentid,lessonid,lessonname,roomid,star,starttime,teacherid,kidname
29,8291.0,4.375428,0,1,234,530,Lesson 20,8291,5.0,2019-03-26 20:30:00,282,Nguyễn Phan Anh

In [25]:
df_cl_e.shape

NameError: name 'df_cl_e' is not defined

In [24]:
df_e_cl.shape

(364394, 26)

In [64]:
df_sclass = df_cl_e[df_cl_e.studentid==236]
df_sclass

,id_class,emotion_score,day_learned,is_completed,studentid,lessonid,lessonname,roomid,star,starttime,teacherid,kidname
19,8102.0,4.244541,0,1,236,502,Lesson 16,8102,5.0,2019-03-27 20:00:00,220,Nguyễn Bảo Trân
20,8111.0,4.420974,0,1,236,503,Lesson 17,8111,5.0,2019-03-28 20:00:00,223,Nguyễn Bảo Trân
71,9314.0,4.244904,0,1,236,505,Lesson 19,9314,NaN,2019-04-04 20:30:00,282,Nguyễn Bảo Trân
101,NaN,NaN,0,1,236,504,Lesson 18,8120,NaN,2019-03-30 20:00:00,218,Nguyễn Bảo Trân
132,NaN,NaN,0,1,236,530,Lesson 20,9323,NaN,2019-04-06 20:00:00,223,Nguyễn Bảo Trân

In [83]:
d = go.Bar(
    x = df_sclass.starttime.dt.date,
    y = df_sclass.emotion_score,
    name = ['1','1','1','1','1','1']
)
fig = go.Figure(data=[d])
py.iplot(fig)

ValueError:
    Invalid value of type 'builtins.list' received for the 'name' property of bar
        Received value: ['1', '1', '1', '1', '1', '1']

    The 'name' property is a string and must be specified as:
      - A string
      - A number that will be converted to a string

# EMOTION GG

In [15]:
df_e_gg.head()

,_id,angerLikelihood,angry,disgust,emotion,fear,happy,id_class,joyLikelihood,neutral,sad,sorrowLikelihood,surprise,surpriseLikelihood,time_created,time_video,user_role,time_video_cut,emotion_score
0,5caef2f2be34921ef00a12f5,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-49,1.0,teacher,"(0.0, 30.0]",4
1,5caef2f2be34921ef00a12f6,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-49,1.0,student,"(0.0, 30.0]",4
2,5caef2f2be34921ef00a12f7,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-48,2.0,teacher,"(0.0, 30.0]",4
3,5caef2f2be34921ef00a12f8,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-48,2.0,student,"(0.0, 30.0]",4
4,5caef2f2be34921ef00a12f9,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-47,3.0,teacher,"(0.0, 30.0]",4

In [16]:
df_cl.head()

,day_learned,is_completed,studentid,lessonid,lessonname,roomid,star,starttime,teacherid,kidname
0,0,1,235,502,Lesson 16,8372,5.0,2019-03-27 21:00:00,674,Đặng Thị Xuân Băng
1,0,1,237,505,Lesson 19,8129,NaN,2019-03-27 21:00:00,282,Nguyễn Minh Châu
2,0,1,704,489,Lesson 1,7727,5.0,2019-03-27 21:00:00,226,Nguyễn Hoàng Hiệp
3,0,1,752,508,Lesson 2,8684,5.0,2019-03-27 20:30:00,686,Nguyễn Đình Phú
4,0,1,818,461,trial,8540,5.0,2019-03-27 20:30:00,217,Nguyễn Ngọc Hà An

In [18]:
import matplotlib.pyplot as plt

In [22]:
df_sclass.head()

,_id,angerLikelihood,angry,disgust,emotion,fear,happy,id_class,joyLikelihood,neutral,sad,sorrowLikelihood,surprise,surpriseLikelihood,time_created,time_video,user_role,time_video_cut,emotion_score
0,5caef2f2be34921ef00a12f5,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-49,1.0,teacher,"(0.0, 30.0]",4
1,5caef2f2be34921ef00a12f6,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-49,1.0,student,"(0.0, 30.0]",4
2,5caef2f2be34921ef00a12f7,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-48,2.0,teacher,"(0.0, 30.0]",4
3,5caef2f2be34921ef00a12f8,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-48,2.0,student,"(0.0, 30.0]",4
4,5caef2f2be34921ef00a12f9,NaN,0.0,0.0,NaN,0.0,0.0,8156,NaN,0.0,0.0,NaN,0.0,NaN,-47,3.0,teacher,"(0.0, 30.0]",4

In [52]:
# how match does our algorithm do compare to the google

In [49]:
classes = [8066,9467]
df_gg = df_e_gg[df_e_gg.id_class==classes[1]]
df = df_e[df_e.id_class==classes[1]]

In [50]:
df_gg.shape,df.shape

((7648, 19), (7648, 15))

In [51]:
(np.array(df_gg.emotion_score) == np.array(df.emotion_score)).mean()

0.7577144351464435